body{
    font-size: large; 
}
* {
    box-sizing: border-box;
  }
article{
    padding: 7px;
}
#map{
    display: none;
}
#depoimentos{ 
    min-height: 500px;
}
.social{
    margin: 7px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.whats-app {
    display: block;
    float: right;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;
    width: 90px;
    height: 90px;
    animation: shake 0.5s;
    animation-iteration-count: 0;
}
.footer{  
    z-index: 9998;
    padding: 0;
    width: 100%;
    height: 90px;  
    text-align: center;
    align-items: center;
}
.header-logo{
    margin: 1px;
    padding: 1px;
    width: 200px;
    height: 112px;
}
.header{
    background-color: #000;
    font-size: x-large;
    padding-bottom: 0;
    margin-bottom: 0;
}
.title-header{
    color: #fff500;
    margin: 7px auto;
    text-align: left;
}
.title-item{
    color: #29166f;
    margin: 7px auto;
    text-align: center;
}


.bx-comentario {
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
    padding-right: 10px;
}
.ratting{
    margin: 3px;
    width: 125px;
    height: 25px;
    margin-left: 55px;
}
.ratting-view{
    margin: 14px;
    padding: 10px;
    text-align: justify;
    background-color: #ececec;
    border-radius: 7px;
}
.ratting-name{
    margin: 3px;
    font-style: oblique;
    color: #29166f;
    font-weight: bold;
}
.ratting-photo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 3px;
}
.ratting-text {
    font-style: italic;
    margin: auto;
    padding: 7px;
}
.ratting-date{
    margin: 3px;
    font-style: oblique;
    color: #0d4f83;
}

.jr-logo{
    display: inline; 
    width: 75px! important;
    height: 75px ! important;
}
.jr-text {
    display: inline;
    text-align: center;
    padding: 7px;
    margin: 7px; 
}
.nav a{
    color: #00923f;
}
.nav-link:hover{
    color: #F3EB1F !important;
}
.nav-link:focus{
    color: #29166f !important;
}
.active{
    color: #29166f !important;
}
.min-logo{
    float: left;
    margin: 7px auto;
}
#main{
    padding: 16px;
}
.main-title{
    color: #000;
}
.main-item{
    margin: 7px;
}
.no-style-link {
    text-decoration: none;
    color: inherit;
}
.no-style-link:hover{
    color: inherit;
}
.whats-button { 
    color: #0d4f83;
    font-weight: bold;
    padding: 14px;
    margin: 7px;
    float: right; 
    font-size: large;
}
#contato-link{
    align-items: center;
}
.course-desc{
    font-size: large;
    margin: 10px;
    padding: 5px;
    color: #FFF;
}

.courses{ 
    display: inline;
    width: 45%;
    border-radius: 7px;
    margin: 15px;
    padding: 0; 
    text-align: left;
    flex: 50%;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.2); 
    background-color: rgb(80, 80, 80);
}
 

.course-title { 
    margin: 0;
    margin-top: -25px;
    padding: 25px;
    padding-left: 0;
    width: 100%;
    background-color: #F3EB1F;
    color: #000;
    border-radius: 10px;    
}
.contato-view{
    text-align: center; 
    background-color: rgb(80, 80, 80);
    border-radius: 25px;
    margin: 15px;
}
.dep-title{
    padding: 7px; 
    color: #000;
    margin: 0;
    text-align: center;
    background-color: #F3EB1F;
    border-radius: 7px;
    font-size: x-large;
    width: initial;
}
.dep-img{ 
    text-align: right;
    padding: 0;
    margin: 0;
    margin-top: -25px;
    margin-left: -25px; 
    background-color: #FFF;
    width:50px; 
    height:50px;
    border-radius: 50%;  
    border-style: solid;
    border-width: medium;
    border-color: #F3EB1F;
}
.title-contato{
    padding: 7px;
    margin: 0;
    color: #F3EB1F;
    margin: 7px auto;
    text-align: center; 
}
.img-fachada{
    margin: 0;
    margin-top: -30px;
    padding: 0;
    border-radius: 10px;
}
.banner-img{ 
    text-align: right;
    padding: 0;
    margin: 0;
    border-radius: 15px; 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.round-img{
    width: 125x;
    height: 125px;
    padding: 0;
    margin: 0;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;  
    border-style: solid;
    border-width: medium;
    border-color: #F3EB1F;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


 
 

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .courses{
        width: 100%;
    }
    .banner-img{ 
        text-align: center;
    }
   
}
 

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -3px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 3px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
